@import "bootstrap/scss/bootstrap";
@import "leaflet/dist/leaflet";

#b-override .bg-birumuda {
  background-color: #05fff3 !important;
}

#b-override .selected {
  background-color: #f5f107 !important;
}

#b-override .bg-oren {
  background-color: #ffbb05;
}
#b-override .bg-kuning {
  background-color: yellow;
}

#b-override .rb-3 {
  border-right: 3px solid #000000;
}

#map,
#map2 {
  height: 15rem;
}

#b-override .link {
  color: #0d6efd;
}
#b-override .link:hover {
  opacity: 0.8;
  cursor: pointer;
}

// header
#b-override .load {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: green;
}
